@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<hr />
<h4>History </h4>
<p>
    Chearn is an Akaisolutions product. Akaisolutions is a student group
    founded in 2020 at Western Oregon University.
    Co-founded by Andrew Wiest, Binit Shrestha, and Jeff P.
    From its humble beginnings, Chearn sought to revolutionize the M.O.O.C. space.
    The idea came to Andrew one day whilst on his morning jog. After much debate about
    what project Akaisolutions should seek to tackle, Chearn won out. From that moment on,
    the online education sphere would never be quite the same.
</p>

<h4> Science </h4>
<p>
    Chearn uses a distinct, science-first approach to knowledge aquisition.
    Chunking is at the core of how Chearn operates. Chunking is an efficient way
    to quickly aquire and store large amounts of information. It effectively amounts
    to reducing content size, while focusing the content on a core topic.
    <sup><a target="_blank" href="https://www.sciencedirect.com/science/article/abs/pii/S1364661300016624">[1]</a></sup>
</p>
<p>
    After breaking the content into its core components, the lessons are served in a
    specific, heirarchical fashion. Lessons that cover related but different topics are served
    together in a process known as interleaving.
    <sup><a target="_blank" href="http://learninglab.uchicago.edu/Publications_files/5-CogsciIddeas2005.pdf">[2]</a></sup>
    The interleaving effect helps learners understand concepts more
    broadly by encouraging the brain to form neural connections between these related topics.
</p>
<p>
    One reason it's important to take breaks between lessons is that it allows your brain
    to enter into a different mode of thinking, commonly known as the diffuse mode. In its more focused mode,
    neural activity tends to be concentrated in a few regions of the brain responsible for tackling the task.
    In diffuse mode, by contract, neural activity is less localized, 
    and it opens the brain up to novel connectionsbetween disparate regions.    
    <sup><a target="_blank" href="https://psycnet.apa.org/record/1980-28087-001">[3]</a></sup>
    This process is largely why solutions to difficult problems often emerge in odd hours such as at night or while
    doing a wholely unrelated task.
</p>
<p>
    The final component to constructing bullet-proof long-term memories is repetition.
    Over time, if not reviewed, your brain will forget quite a bit of information within the first few days,
    then begin to level off remembering a fraction of the original content. This forgetting curve can be flattened
    (thereby increasing the amount of content learned) by periodically reviewing this material.
    Each time material is reviewed just before it would have been forgotten, the memory is strengthened.
    <sup><a target="_blank" href="https://journals.sagepub.com/doi/abs/10.1177/2372732215624708">[4]</a></sup>
    This means that over time, longer and longer intervals will pass between reviews.
    This extra effiency allows your time with Chearn to be as effective as possible.
    You'll never review material more often than is necessary,
    and you'll never forget the material after the course as you might on other platforms.
</p>

