@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h4>By Email</h4>
<address>
    <strong>Support:</strong>   <a href="mailto:awiest15@mail.wou.edu">awiest15@mail.wou.edu</a><br />
    <strong>Feature Requests:</strong> <a href="mailto:andrewjwiest7@gmail.com">Andrewjwiest7@gmail.com</a>
</address>
<h4> On LinkedIn</h4>
<address>
    <a href="https://www.linkedin.com/in/andrew-wiest-501b57110/">Andrew Wiest</a> <br />
    <a href="https://www.linkedin.com/in/binit-shrestha-7a4ba8194/">Binit Shrestha</a>
</address>