@{
    ViewBag.Title = "Home Page";
}
    <div class="container">
        <div class="row bottom-padded top-padded">
            <div class="col-8 qa-area">
                <h2 class="point-added">
                    What is Chearn?
                </h2>
                <p> Chearn is an online learning platform focused on efficiency. Chearn will have you learning the most material at the fastest rate. 
                Chearn chunks material down to its smallest components, so you can complete small, managably sized lessons. 
                After each lesson, you'll be greeted with a small quiz on the material in order to ensure you learned the lesson. 
                Chearn uses as innovative graduated interval review system. What this means practically is that you'll only review content as often as is necessary in order to retain it.
                If you get a review correct, you won't see questions related to that content as often. If you get the material wrong, you can review the lesson. After that, you'll begin to 
                notice questions related to that lesson more often, until you start getting it right consistently. This ensures the program targets your weakpoints without overtraining information you've already aquired.
                    
                </p>
            </div>
            <div class="col">
                <img src="~/Content/img/Human_Brain.png" style="width:75%" />
            </div>
        </div>
        <div class="row bottom-padded">
            <div class="col">
                <img src="~/Content/img/construction_worker.png" style="width:75%" />
            </div>
            <div class="col-8 qa-area">
                <h2>
                    Who is Chearn for?
                </h2>
                <p>
                    Chearn is for anyone who's willing to learn. We only require that our users be able to read at a level appropriate to the course they're taking. 
                    From elementary school children, to college students, to truck drivers, Chearn is a flexible learning platform designed to accomodate all learners.
                    Chearn is an excellent tool to learn about any topic you're interested in. Our courses are designed by leading professionals in their fields, and 
                    curated by fellow students who've already taken the course. Register for an account now and take a look at the courses currently available.
                </p>
            </div>
        </div>
        <div class="row bottom-padded">
            <div class="col-8 qa-area">
                <h2>
                    What's different about Chearn?
                </h2>
                <p>
                    Chearn takes a science-first approach to learning. Recent pedagogical developments have led to the discovery of neural chunking.
                    Chunking is the process by which large material is broken down into small component pieces known as chunks.
                    Your brain then composes these chunks by synchronistically firing related chunks in order to form larger ideas.
                    Chearn facilitates this process through a heirarchical lesson structure wherein more elementary lessons are taught first. 
                    Then, lessons which synthesis the previous material are taught. This mirrors the neural structures that develop as you learn new ideas.
                    To help move these concepts into your long-term memory, graduated interval reviews are introduced. Your brain, like all brains, follows a forgetting curve.
                    As you review the material at longer intervals, you're able to retain the information for progressively longer periods of time.

                </p>
            </div>
            <div class="col">
                <img src="~/Content/img/forgetting_curve.png" style="width:100%" />
            </div>
        </div>
    </div>