
@{
    ViewBag.Title = "Help";
}

<h2>Help</h2>

Deciding how many points to add to a question can be a difficult thing.
In general, if a question is very difficult, 20 points or so can be fair. 
If it's moderately difficult, then 10 points is a good estimate.
For questions that can be solved in seconds, a mere point or two should suffice. 
It's important not to overinflate points, or else the entire point-based system will cease to have much meaning. 
Make sure to create questions with an array of difficulties for an optimal experience.